/* class for the section  */
.section {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
}

/* class for the paragraph */
.paragraph {
    width: 60%;
    flex-flow: row;
    height: auto;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
}

body {
    background-color: bisque;
    overflow: hidden;
}

h1 {
    color: brown;
}